body {
    font-size: 16px;
	margin: 0;
    padding: 0;
    color: #666;
}

table {
    border-spacing: 0;
    overflow: auto;
    border: 1px solid #ebebeb;
    width: 100%;
    position: relative;
}

h1, h2 {
    color: #222;  
}

.heading {
    text-align: center;
}

.main {
    margin: 20px 30px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}


tbody {
    overflow: auto;
    max-height: 200px;
}

th,td {
    padding: 12px 20px;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    width: 20%;
}

th {
    position: relative;
    background-color: #f4f4f4;
}

img {
    width: 30px;
}

.up, .down {
    width: 10px;
    position: absolute;
    cursor: pointer;
    margin-left: 10px;
}

.up {
    transform: rotate(-180deg);
    top: 16px;
}

.down {
    bottom: 16px;
}

.searchWrapper {
    display: none;
    position: relative;
}

.imgWrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.search {
    width: 450px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ebebeb;
    border-radius: 6px;
}

.selectEntries {
    display: none;
}

.selectEntries select {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ebebeb;
}

.colFilter {
    margin: 0 10px 0 8px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 6px;
    width: 110px;
    font-size: 12px;
}

.tableConfig {
    border: 1px solid #ebebeb;
    padding: 0 20px 20px;
    margin-bottom: 20px;
}

.sortableCol {
    margin-top: 20px;
}

.sortableCol, .filterableCol, .fixedHeader, .paginationChk {
    display: flex;
    margin-bottom: 20px;
}

.button {
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ebebeb;
    background-color: #f4f4f4;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

.display {
    display: inline-block;
}

.pagination {
    margin: 20px 0;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.pagination div {
    width: 45px;
    height: 30px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    background-color: #f4f4f4;
    margin: 0 0 0 20px;
    cursor: pointer;
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}

.loader {
    display: none;
    justify-content: center;
    font-size: 20px;
    margin: 20px;
}

.none {
    display: none;
}

.flex {
    display: flex;
}